@tailwind base;
@tailwind components;
@tailwind utilities;

.Ultrareport-string1 {
  font-family: "Solway", serif;
  font-size: xx-large;
  font-weight: 700;
  font-style: normal;
  text-shadow: 0 0 0.1em #000000, 0 0 0.1em #000000, 0 0 0.1em #000000;
  color: azure;
}

.Ultrareport-string2 {
  font-family: "Solway", serif;
  font-weight: 700;
  font-size: xx-large;
  font-style: normal;
  color: #bd1d1e;
  text-shadow: 0 0 0.1em #000000, 0 0 0.1em #000000, 0 0 0.1em #000000;
}

/* font nativo*/

* {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  top: 0;
  bottom: 0;
  color: #ffff;
  box-sizing: border-box;
}

/*CONTENEDORES INDEX*/
.Contenedor-APP {
  background-image: url(obs1.jpg);
  background-repeat: repeat;
  background-size: unset;
  min-height: auto;
  max-height: auto;
  z-index: 2;
}

.img-report img {
  z-index: 10;
}

input {
  font-family: "Solway", serif;
  font-weight: 700;
  font-style: normal;
}

.button-ini {
  background-image: linear-gradient(
    rgba(110, 10, 10, 0.757),
    rgba(33, 0, 0, 0.888)
  );
}

/*BOTONES NAV*/

/*BOTONES SUPERVISOR*/

.Button_Sup {
  margin: 10px !important;
}

.AddButtonSup {
  border-radius: 98px;
  box-shadow: 8px 8px 16px #1a1a1a, -8px -8px 16px #1a1a1a;
  z-index: 1000;
  background-image: linear-gradient(
    rgba(23, 176, 43, 1),
    rgba(0, 21, 33, 0.888)
  );
}
.AddButtonSup img {
  z-index: -1;
}

.RepButtonSup {
  border-radius: 98px;
  box-shadow: 8px 8px 16px #1a1a1a, -8px -8px 16px #1a1a1a;
  z-index: 1000;
  background-image: linear-gradient(
    rgba(69, 151, 190, 1),
    rgba(15, 63, 95, 0.888)
  );
}
.RepButtonSup img {
  z-index: -1;
}

.BusqReportSup {
  border-radius: 98px;
  box-shadow: 8px 8px 16px #1a1a1a, -8px -8px 16px #1a1a1a;
  background-image: linear-gradient(rgba(179, 8, 56, 1), rgba(33, 0, 0, 0.888));
  z-index: 1000;
  box-shadow: #000000;
}

.BusqReportSup img {
  z-index: -1;
}

.logoUltraReport {
  .BusqReportSup img {
    z-index: -1;
  }
}

/* BOTONES APR */

.AddButtonApr {
  border-radius: 98px;
  z-index: 1000;
  box-shadow: 8px 8px 16px #1a1a1a, -8px -8px 16px #1a1a1a;

  background-image: linear-gradient(
    rgba(23, 176, 43, 1),
    rgba(0, 21, 33, 0.888)
  );
}

.AddButtonApr img {
  z-index: -1;
}

.BusqButtonApr {
  box-shadow: 8px 8px 16px #1a1a1a, -8px -8px 16px #1a1a1a;
  z-index: 1000;
  background-image: linear-gradient(
    rgba(69, 151, 190, 1),
    rgba(15, 63, 95, 0.888)
  );
}

.BusqButtonApr img {
  z-index: -1;
}

/* BOTONES LOGOUT*/
.contenedorLogout {
  box-shadow: 8px 8px 16px #000000, -8px -8px 16px #000000;
  background-color: rgba(48, 48, 48, 1);
  z-index: 1000;
  box-shadow: #000000;
}

.buttonSi {
  background-color: #00ad00;
  box-shadow: 8px 8px 16px #1a1a1a, -8px -8px 16px #1a1a1a;
}

.buttonNo {
  background-color: #d90404;
  box-shadow: 8px 8px 16px #1a1a1a, -8px -8px 16px #1a1a1a;
}

/*BOTONES ADMIN */

/* HOVERS NATIVOS*/
.hovernat {
  box-sizing: border-box;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  transition: all 0.5s;
  user-select: none;
}

.hovernat:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.hovernat:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.InputDesvi {
  resize: both;
  color: #000000;
  font-size: x-small;
}

.EnviarButton-Apr {
  background-image: linear-gradient(
    rgba(110, 10, 10, 0.757),
    rgba(33, 0, 0, 0.888)
  );
}

.BoxAlertPass p1 {
  color: red;
}

/* ERRORES Y ALERTAS*/
.BoxAlertPass {
  background-color: rgba(48, 48, 48, 1);
}

.BoxRutAlert {
  background-color: rgba(48, 48, 48, 1);
}

p1 {
  color: red;
}

.BoxNetAlert {
  background-color: rgba(48, 48, 48, 1);
}

.BoxIncompleteAlert {
  background-color: rgba(48, 48, 48, 1);
}

.BoxDuplicatedAlert {
  background-color: rgba(48, 48, 48, 1);
}

.BoxFileAlert {
  background-color: rgba(48, 48, 48, 1);
}

.BoxUpdateAlert {
  background-color: rgba(48, 48, 48, 1);
}
.BoxUpdateAlert p1 {
  color: #00ad00;
}

.ejemplo1 {
  border-radius: 20%;
  border-color: azure;
}

.ejemplo2 {
  border-radius: 20%;
  border-color: azure;
}
.ejemplo3 {
  border-radius: 20%;
  border-color: azure;
}

.mensaje-error {
  color: #edebeb;
  margin-top: 10px;
  padding: 5px;
  background-color: #b30000;
  font-family: "Arvo", serif;
  font-weight: 900;
  font-style: normal;
}

.ImageButtons {
  mask-image: linear-gradient(black 80%, transparent);
}
