@tailwind base;
@tailwind components;
@tailwind utilities;

.Ultrareport-string1 {
  font-family: "Solway", serif;
  font-size: xx-large;
  font-weight: 700;
  font-style: normal;
  text-shadow: 0 0 0.1em #000000, 0 0 0.1em #000000, 0 0 0.1em #000000;
  color: azure;
}

.Ultrareport-string2 {
  font-family: "Solway", serif;
  font-weight: 700;
  font-size: xx-large;
  font-style: normal;
  color: #bd1d1e;
  text-shadow: 0 0 0.1em #000000, 0 0 0.1em #000000, 0 0 0.1em #000000;
}

* {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  top: 0;
}

.Contenedor-APP {
  background-image: url(carbon_fibre.png);
  background-repeat: repeat;
  background-size: unset;
}

.Logo-Fon {
  background-image: url(logoUltraReport.png);
  background-size: cover;
  background-repeat: round;
}

input {
  font-family: "Solway", serif;
  font-weight: 700;
  font-style: normal;
}

.button-ini {
  background-image: linear-gradient(
    rgba(110, 10, 10, 0.757),
    rgba(33, 0, 0, 0.888)
  );
}
.NavBotonesSup {
  font-family: "Solway", serif;
  font-weight: 700;
  font-style: normal;
  text-shadow: 0 0 0.1em #000000, 0 0 0.1em #000000, 0 0 0.1em #000000;
  color: azure;
}

.AddButtonSup {
  background-image: linear-gradient(
    rgba(23, 176, 43, 1),
    rgba(0, 21, 33, 0.888)
  );
}
.AddButtonSup img {
  z-index: -1;
}

.RepButtonSup {
  z-index: 1000;
  background-image: linear-gradient(
    rgba(69, 151, 190, 1),
    rgba(15, 63, 95, 0.888)
  );
}
.RepButtonSup img {
  z-index: -1;
}

.BusqReportSup {
  background-image: linear-gradient(
    rgba(196, 32, 32, 0.757),
    rgba(33, 0, 0, 0.888)
  );
  z-index: 1000;
  box-shadow: #000000;
}

.BusqReportSup img {
  z-index: -1;
}

.Fontnativo {
  font-family: "Solway", serif;
  font-size: xx-large;
  font-weight: 700;
  font-style: normal;
  text-shadow: 0 0 0.1em #000000, 0 0 0.1em #000000, 0 0 0.1em #000000;
  color: azure;
}
